@model InGame.BestPractice.Web.Models.Account.ResetPasswordViewModel
@{
    ViewBag.DisableTopBar = true;
}
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
<div class="card">
    <div class="body">
        <form id="RegisterForm" asp-action="ResetPassword" method="post">
            <h4 class="text-center">@L("ResetPassword")</h4>
            @if (@ViewBag.ErrorMessage != null)
            {
                
                <div class="alert alert-danger">
                    <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
                </div>
            }
            @Html.ValidationSummary(true)
            <input asp-for="@Model.Code" type="hidden" />
            <div class="form-group form-float">
            <div class="form-line">
                <input asp-for="@Model.Email" class="form-control" />
                <label class="form-label">@L("EmailAddress")</label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group form-float">
            <div class="form-line">
                <input asp-for="@Model.Password" class="form-control" />
                <label class="form-label">@L("Password")</label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group form-float">
            <div class="form-line">
                <input asp-for="@Model.ConfirmPassword" class="form-control" />
                <label class="form-label">@L("Password")</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            </div>
          
            <div class="row">
                <div class="col-xs-12">
                    <button id="RegisterButton" class="btn bg-pink waves-effect" type="submit">@L("Submit")</button>
                </div>
            </div>
        </form>
    </div>
</div>

