@model InGame.BestPractice.Web.Models.Store.CategoryListViewModel
@using System.Text
@using InGame.BestPractice.Store
@using InGame.BestPractice.Store.Dto
@using InGame.BestPractice.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Categories;
    string GenerateUL(IReadOnlyCollection<CategoryDto> categories)
    {
        var sb = new StringBuilder();

        sb.AppendLine("<ul>");
        foreach (var categoryDto in categories)
        {
            if (categoryDto.SubCategories.Any())
            {
                sb.AppendLine("<li>" + categoryDto.Name + " (" + categoryDto.Id + ")");
                sb.Append(GenerateUL(categoryDto.SubCategories));
                sb.AppendLine("</li>");
            }
            else
                sb.AppendLine("<li>" + categoryDto.Name + " (" + categoryDto.Id + ") </li>");
        }
        sb.AppendLine("</ul>");

        return sb.ToString();
    }
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Categories/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Categories/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Categories")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>  <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("Description")</th>
                            <th>@L("ParentCategory")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categoryDto in Model.Categories)
                        {
                            <tr>
                                <td>@categoryDto.Name</td>
                                <td>@categoryDto.Description</td>
                                <td>@categoryDto.ParentCategoryId</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-product" data-category-id="@categoryDto.Id" data-toggle="modal" data-target="#UserEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-product" data-category-id="@categoryDto.Id" data-category-name="@categoryDto.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#UserCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Categories") (hierarchical)
                </h2>
            </div> <div class="body table-responsive">
                @Html.Raw(GenerateUL(Model.CategoriesHierarchical))

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewProduct")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="productCreateForm" role="form" novalidate class="form-validation">

                    <div class="row clearfix" style="margin-top:10px;">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input class="form-control" type="text" name="Name" required maxlength="@Category.MaxNameLength" minlength="2">
                                    <label class="form-label">@L("Name")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" name="Description" class="form-control" required maxlength="@Product.MaxDescriptionLength">
                                    <label class="form-label">@L("Description")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    @{
                                        var listitems = Model.Categories.Select(dto => new SelectListItem(dto.Name, dto.Id.ToString(), false)).ToList();
                                        listitems.Insert(0, new SelectListItem("--", ""));

                                    }
                                    @Html.DropDownList("ParentCategoryId", listitems)
                                    <label class="form-label">@L("ParentCategory")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

